.content {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    flex-basis: 200px;

    @media only screen and (max-width: 450px) {
        flex-basis: 100%;
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .image-content {
        position: relative;

        @media only screen and (max-width: 450px) {
            width: 100%;
        }

        .icon-container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            background-color: rgba(220,220,220,0.25);
            width: 100%;
            opacity: 0;
            height: 100%;
            transition: opacity 0.25s ease;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                background-color: white;
                font-size: 25px;
                width: 35px;
                height: 35px;
                z-index: 10;
                cursor: pointer;
                transition: all 0.25s ease;

                &:hover {
                    background-color: yellow;
                }
            }

            &:hover {
                opacity: 1;
            }
        }

        .image {

            @media only screen and (max-width: 450px) {
                width: 100%;
                height: auto;
            }

            height: 200px;
        }
    }
}